/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
body{

}
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.list-view .content{
    display: flex;
}

.list-view .contact-grid{
    margin-bottom: 50px;
}
.footer{
    position: absolute;
    bottom: 0;
}
.list-view .contact-form{
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px){
    .list-view .toolbar,
    .list-view .contact-grid {

    }
}

a[highlight] {
//font-weight: bold;
}
.header {
//padding: 0 var(--lumo-space-m);
}
.header h1.logo {
font-size: 1em;
margin: var(--lumo-space-m);
}
